{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<br><br><br>

<div>
    <p>
        <ol class="breadcrumb">

            <li><b><a href="{% url 'blog_app:cats_list' %}">Categories </a></b></li>
            <!-- ><li><a href="#">Library</a></li> -->
            <li><b><a href="{% url 'blog_app:posts_to_cat' cat_selected.id  %}">{{cat_selected.cat_title}}</a></li></b>
                <li class="active"><b>Add New Post</li></b>
                    <p style="float:right;"><small><span class="badge">{{posts_cat_count}}</span> Posts</small></p>
        </ol>
    </p>
</div>



<div class="container">
    <section>
        <div>
            <h5>Add New Post:</h5>
        </div>
        <!-- add new post form  -->
        <div class='row '>
            <div class='col-md-8'>
                <form method="POST" class="form-group">
                    {%csrf_token %}

                    <div class="form-group">
                        {{ form.post_title|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.post_text|as_crispy_field }}
                    </div>

                    <div><button type='submit ' class="btn btn-skin">add post</button></div>
                </form>
            </div>
        </div>

    </section>
</div>





{% endblock %}