{% extends 'base.html' %} {% load static %} {% block content %}

<!-- /////////////////////////////////////////Content -->
<div id="page-content">

    <!-- ////////////Content Box -->
    <section class="box-content">
        <div class="container">
            <div class="post">
                <h1 class="entry-title">The Title on The Article</h1>
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'pages_app/images/lawer/about.jpg' %}" class="img-responsive" alt="About">
                    </div>
                    <div class="col-md-8">
                        <p>For many years, we have been making sustainable progress possible and driving positive change on every continent. With 2014 sales and revenues of $56 billion, our Company is the world’s leading manufacturer of various products.
                            The company principally operates through its three product segments. Company strategy includes a vision of the future where: we are recognized as the leader everywhere we do business; our products, services and solutions help
                            our customers succeed; our distribution system is a competitive advantage; our supply chain is world class; our business model drives superior results performance consistently rewards our stockholders.<br><br> Our Worldwide
                            Code of Conduct, first published in 1974, defines what we stand for and believe in, documenting the uncompromisingly high ethical standards our company has upheld since its founding in 1925.</p>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Consetetur sadipscing
                    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                <blockquote>
                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet vultatup duista.</p>
                </blockquote>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril.</p>
                <h2>Heading 1</h2>
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse lorem ipsum dolor sit amet.</p>
                <h2>Heading 2</h2>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. At vero eos et accusam et justo.</p>
                <h2>Heading 3</h2>
                <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum hendrerit in vulputate velit esse molestie.</p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                <p><code>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</code></p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <div class="note">
                    <ol>
                        <li>Lorem ipsum</li>
                        <li>Sit amet vultatup nonumy</li>
                        <li>Duista sed diam</li>
                    </ol>
                    <div class="clear"></div>
                </div>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
                    dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.</p>
            </div>
        </div>
    </section>

</div>
{% endblock %}